@charset "UTF-8";

@media screen and (max-width: 768px) {
    main{
        width: 100vw;
        height: 100vh;
    }
    div#azul{
        width: 100%;
        height: 45%;
        position: absolute;
    }
    div#branco{
        width: 100%;
        height: 55%;
        position: absolute;
        top: 50%;
        left: 0%;
    }
    div#azul > div#meio > p.num{
        position: absolute;
        left: 35%;
    }
    div#azul > div#meio > p.num2{
        position: absolute;
        top: 48%;
        left: 44%;
    }
    div#azul > h2{
        position: absolute;
        left: 42%;
    }
    div#azul > p{
        width: 70%;
        position: absolute;
        left: 15%;
    }
    div#branco h1{
        padding: 0px 40px;
    }
}